html{
    background-color: rgb(159, 204, 218);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:40px;
    padding: 40px;
    color: black;
    border-top:10px solid #242424 ;
    background-color: cornsilk;
}

h2{
    font-size: 3em;
    margin: 0px;

}

h4{
    font-size: 1.3em;
    margin: 0px;

}
h5{
    font-size: 1.4em;
    margin: 0px;
    color: rgb(214, 183, 183);
    margin-left: 400px;
}
h6{
    font-size: 0.7em;
    margin: 0px;

}

p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 0.8cm;
    width: 550px;
    margin: 20px;
}

#blog{
    border-top: 10px dotted #ccc;
    
}

#blog2{
    border-top: 10px dotted #ccc;
}

.blog-post{
    border-top:10px dotted #ccc;
    margin: 20px;
}

.ul{
    font-size: 1.3em;
    color: rgb(214, 183, 183);
    margin-left: 400px;
}

a:hover{
    color: turquoise;
}

a:active{
    color:yellow;
}

a:link{
    color: salmon;
}

a:visited{
    font-weight: bold;
    color: black;
}